/* Giver div1, en width, så vi får side koloner*/
body {
    /* bruger en gradient function, til at lave en "gradient" baggrund */
    margin: auto;
    background: #FFFFFF;
}


/*Sætter div1 = 80% i width og sætter margin til 0 op og nede, og auto til venstre og højre*/
.container{
    margin: auto;
    align-content: center;
    padding-top: 20px;
}
/*Sætter headers farve, så den matcher baggrunden*/
header {
    background: transparent;
    border: black 3px solid;
}
/*bruger after funktionen, så den insetter headeren igen efter elementerne, så farven kommer frem */
header::after {
    content: '';
    display: table;
    clear: both;
}
/*laver nogle values, så logoet passer med teksten, derefter sætter positionen til relativ, så den passer i div*/
#logo{
    height: 4%;
    width: 4%;
    float: left;
    position: relative;
}
/*får den til at floate til venstre, og padding til bund og top til 10px */
nav{
    float: left;
    padding: 0;
}
/*Gør at den ul, mister margin oppe ved toppen, så den ikke har tomt rum der oppe, og padding til 0,
 så listen står tæt på hinanden. og list-style til none, så vi mister de runde punkter. Whitespace er sådan den ikke
 breaker line*/
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
/*så fikser vi selve listen, så den er inline og bliver inde i block, derefter så margin-left, så kan vi lave mellemrum
 mellem de forskellige list items, også padding top, i forhold til hvor langt de skal være fra toppen,
 også position relativ, så det ikke bliver påvirket af andre blocks, hver li får en block-position*/
nav li {
    display: inline-block;
    margin-left: 15%;
    padding-top: 3%;
    position: relative;
}
/*sætter farven på teksten, ingen decoration, så mister vi default decoration og transformere teksten til uppercase
og sætter font-size til 135%*/
nav a{
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 135%;
    position: relative;
}
/*At når man hover over nogle af Anchors, så bliver de sorte*/
nav a:hover {
    color: #000;
}
/*laver en bar over de forskellige links, som kommer ind og ud*/
nav a::before {
    content: '';
    display: block;
    height: 10%;
    background-color: #444;
/*sætter position til absolute, så den bliver over vores anchor. og width til 0 så man ikke kan se den
og top til 0, så den ligger i toppen  */
    position: absolute;
    top: -2%;
    width: 0;
/*bruger all keywordet, så CSS forstår det er alle properties, der skal have den her transition, og så sætter jeg
en delay en på 250ms, og bruger ease-in-out effekten, som er en transition effekt*/
    transition: all ease-in-out 250ms;
}
/*Den gør at når man hover over funktionen, kommer baren frem igen, så når man hover så sætter jeg den lille bar til
100% width*/
nav a:hover::before {
    width: 100%;
}

.midt{
    height: auto;
    margin: auto;
    text-align: center;

}

#køb{
    list-style: none;
}

section{
    background: #444444;
    width: 80%;

}

h1{
    margin: 0;
    padding: 0;
}

/*Til Film.html */
#slide{
    margin-left: 35%;
    height: 20%;
    width: 30%;
}


.testButton1
{
    font-size: inherit;
}
.testButton1 img
{
    height:100%;
width: 100%;
}
.testButtonEt
{
    font-size: inherit;
}
.testButtonEt img
{
    height:100%;
    width: 100%;
}

/* The Modal (background) */
.bookup {
    display: none; /* Gør at den er skjult */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.900); /* Black w/ opacity */
}

.bookupContent {
    background-color: #b7b7b7;
    margin: 15% auto; /* Sætter den i midten */
    padding: 20px;
    border: 3px solid #1d1d1d;
    width: 80%;

}
#BookupEtImg{
    margin-left: 75%;
    margin-top: -10%;
    position: relative;
    float: inside;
}

.divSeatCheckbox {
    text-align: center;
    padding: 70px;
    position: relative;
}

s1r1.bigCheckbox {
    width: 70px;
    height: 70px;
}

#slide{
    margin-left: 35%;
    height: 20%;
    width: 30%;
}


#bookup {
    display: none; /* Gør at den er skjult */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(29, 29, 29, 0.64); /* skal bruggge rgba når baggrunden skal være transparent */
}

.bookupIndhold {
    background-color: #b7b7b7;
    margin: 15% auto; /* Sætter den i midten */
    padding: 20px;
    border: 3px solid #1d1d1d;
    width: 80%;

}
.vinduebillede {
    position: relative;
    padding: 20px;
    width: 70%;
}
#spillerNu{
    margin-left: 10px;
}
.Knap {
background-color: dimgrey;
    border-color: black;
    position: center;
    margin-left: 40px;
}