<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
</head>
<body id ="adminPage">
<header>
    <img src="../public/img/Logo.png" alt="logo" id="logo">
    <div id="container">
        <nav>
            <ul>
                <li><a href="index.html">Program</a></li>
                <li><a href="bookninger.html">Mine bookninger</a></li>
                <li><a id="logIn">Login</a></li>
                <li><a id="signIn" href="opret.html">Sign up</a></li>
                <li><a id= "logOut" href="index.html">Log ud</a></li>
                <li><a id= "Admin" href="adminpage.html">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="midt">
    <div class="container">
        <input type="text" id="enteredNumber" value="" placeholder="User number" onmousedown="Tools.checkAdminStatus()"/>
        <input type="submit" id="showUser" value="Show User" onclick="showUser()"/>
        <input type="reset" id="makeAdmin" value="Make admin" onclick= 'Tools.activeUser.makeAdmin()'/>
        <input type="submit" id="deleteUser" value="Delete user" onclick="Tools.activeUser.deleteUser()"/>
        <input type="submit" id="showAllUser" value="Clear all" onclick="Tools.activeUser.clearStorage()" onmousedown="Tools.checkAdminStatus()"/>
        <br/>
        <p>Navn: <span id="navn"></span> <br/> Telefonnummer: <span id="number"></span> <br/> Alle Brugere <span id="allUsers"></span> </p>
    </div>
</section>
<script type="text/javascript" src="../models/User.js"></script>
<script type="text/javascript" src="../public/js/Tools.js"></script>
<script type="text/javascript" src="../public/js/Adminpage.js"></script>
</body>
</html>