<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mine bookninger</title>
    <link type="text/css" rel="stylesheet" href="../Public/css/style.css">
</head>
<body>
<header>
    <img src="../Public/img/Logo.png" alt="logo" id="logo">
    <div id="container">
        <nav>
            <ul>
                <li><a href="Index.html">Program</a></li>
                <li><a href="Mine_bookninger.html">Mine bookninger</a></li>
                <li><a id="logIn">Login</a></li>
                <li><a id="signIn" href="Opret_bruger.html">Sign up</a></li>
                <li><a id= "logOut" href="Index.html">Log ud</a></li>
                <li><a id= "Admin" href="Adminpage.html">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="midt">
    <div class="container">
    <h1> Mine bookinger </h1>
    </div>
    <p id="takForBook" ><span id="booking"></span></p> <br/>
</section>

<div id="displayOfMovies"></div>

    <script type="text/javascript" src="../models/User.js"></script>
    <script type="text/javascript" src="../Public/js/Tools.js"></script>
    <script type="text/javascript" src="../models/Booking.js"></script>
    <script type="text/javascript" src="../Public/js/Mine_bookninger.js"></script>
</body>
</html>