<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<header>
    <img src="../public/img/Logo.png" alt="logo" id="logo">
    <div id="container">
        <nav>
            <ul>
                <li><a href="index.ejs">Program</a></li>
                <li><a href="bookninger.html">Mine bookninger</a></li>
                <li><a id="logIn">Login</a></li>
                <li><a id="signIn" href="opret.html">Sign up</a></li>
                <li><a id= "logOut" href="index.ejs">Log ud</a></li>
                <li><a id= "Admin" href="adminpage.html">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>
<form name="userCreation" method="get">
<br/>
Fornavn:
<br/>
<input type="text" id="firstName" value="" placeholder="Your first name"/>
<br/>
<br/>
Efternavn:
<br/>
<input type="text" id="lastName" value="" placeholder="Your last name"/>
<br/>
<br/>
Telefonnummer:
<br/>
<input type="text" id="phoneNumber" value="" placeholder="Phone number"/>
<br/>
<br/>
Fødselsdag:
<br/>
<input type="date" id="bday" value="" placeholder="Your name"/>
<br/>
<br/>
Password:
<br/>
<input type="text" id="password" value="" placeholder="Your password"/>
<br/>
<br/>
<button type="reset" onclick="createUser()">Create User</button>
    </form>


    <script type="text/javascript" src="../models/User.js"></script>
    <script type="text/javascript" src="../public/js/Tools.js"></script>
    <script type="text/javascript" src="../public/js/Opret_bruger.js"></script>
</body>
</html>